.app-header {
    font-size:large;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 8px;
    background-color: rgb(244, 244, 244);
    /* border-bottom: 1px solid; */
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.app-header .active {
    font-weight: 700;
}

.header-link {
    text-decoration: none;
    padding: 8px;
}

.app-header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-header .logo-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #ed6c02;
    border-radius: 50%;
}

.app-header .logo-text {
    color: #ed6c02;
    font-weight: 700;
}

.app-header .menu {
    display: flex;
    gap: 10px;
}